*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}


.container{
  display: flex;
  flex-wrap: wrap;
}

.logo {
  height: 150px;
  width: auto;
  margin: 20px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}

nav {
  position: fixed;
  right: -260px;
  width: 335px;
  height: 100%;
  background-color: #54ad35;
  test-align: center;
  transition: 0.8s ease;
  z-index: 99;
  margin-top: 0;
  padding-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: flex;
  margin: 40px;
}

li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  padding: 1em;
  flex: 1;
  border: 5px;
  margin-left: 20px;
  text-align: center;
}

li a:hover {
  background-color; white;
  color; grey;
}

.overskrift{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #54ad35;
  font-weight: bold;
}

h1 {
  text-align: center;
  padding-top: 5%;
  font-size: 35px;
}

h2{
  text-decoration: none;
  color: #313030;
  font-size: 20px;
  padding: 1px;
  flex: 1;
  text-align: left;
  flex-wrap: wrap;
}

h3{
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  background-color: #54ad35;
  border-radius: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.punkt{
  text-decoration: none;
  color: #ffffff;
  border-radius: 60px;
}

.toggle-collapse {
  float: left;
  margin-left: 1em;
  margin-top: .5em;
  content:"";
  outline: inherit;
  border: 0px;
  background-color: transparent;
}

.toggle-icon, .toggle-icon:before, .toggle-icon:after {
  content: "";
  width: 30px;
  height: 3px;
  position: fixed;
  background-color: #ffffff;
  border-radius: 2em;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: 0.800s ease;
  margin-top: 0.8em;
}

.toggle-icon:before {
  position: absolute;
  left: -1px;
  margin-top: -0.8em;
}

.toggle-icon:after {
  position: absolute;
  left: -1px;
  margin-top: 0.6em;
  width: 20px;
}

.toggle-icon {
  width: 15px;
}

.show .toggle-icon:after {
  width: 30px;
}

.show .toggle-icon {
  width: 30px;
}


button{
  background-color: #696969;
  color: #ffffff;
  padding: 0.5rem;
}

.myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  width: 60%;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-top: 5%;
  margin-left: 20%;
}

.myUL {
  list-style-type: none;
  padding: 0;
  margin: 20%;
  margin-top: 0;
  background-color: #54ad35;
  border-radius: 10%;
}

.myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: #313030;
  display: block;
}

.myUL li a:hover:not(.header) {
  background-color: #eee;
}


ul menu {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
 #menu{
   margin: 5px;
   border: 10px;
   display: flex;
   flex-wrap: wrap-reverse;
   flex-direction: row;
   list-style: none;
   justify-content: center;
   order: 5;

}

section {
  width: 100%;
  float: left;
  height: 100vh;
  position: relative;
}


.kipgryde {
  width: 350px;
  height: auto;
  margin-left: 38%;
}

.billede1 {
  width: auto;
  height: 300px;
  margin-right: 90px;
  margin-top: 0;
}

.tekst_felt1 {
margin-left: 20px;
margin-right: 250px;
}

.collage1 {
  display: flex;
  flex-direction: columns;
  list-style: none;
  color: #313030;
  justify-content: space-around;
  padding: 0;
  font-size: 20px;
  margin: 5%;
}

#hjem{
  height: 100%;
}

 #montering {
  background-color: #ffffff;
  color: #313030;
}

#generelt {
  background-color: #54ad35;
  color: #ffffff;
}

#håndtering {
  background-color: #ffffff;
  color: #313030;
}

#elektrisk {
  background-color: #54ad35;
  color: #ffffff;
}

#tilslutning {
  background-color: #ffffff;
  color: #313030;
}

#mekanisk {
  background-color: #54ad35;
  color: #ffffff;
}

#fastgørelse {
  background-color: #ffffff;
  color: #313030;
}

#udskiftning {
  background-color: #54ad35;
  color: #ffffff;
}

#varme {
  background-color: #54ad35;
  color: #ffffff;
}

#test {
  background-color: #ffffff;
  color: #313030;
}

#omrørering {
  background-color: #ffffff;
  color: #313030;
}

#vand {
  background-color: #53ad35;
  color: #ffffff;
}

#kipfunktion {
  background-color: #ffffff;
}

#ibrugtagning {
  background-color: #54ad35;
  color: #ffffff;
}

#alarm {
  background-color: #ffffff;
  color: #313030;
}

#programmer {
  background-color: #54ad35;
  color: #ffffff;
}

#opvarmning {
  background-color: #ffffff;
  color: #313030;
}

#røre {
  background-color: #54ad35;
  color: #ffffff;
}

#påfyldning {
  background-color: #ffffff;
  color: #313030;
}

#tider {
  background-color: #54ad35;
  color: #ffffff;
}

#køling {
  background-color: #ffffff;
  color: #313030;
}

#buzzer {
  background-color: #54ad35;
  color: #ffffff;
}

#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: #54ad35;
  color: #54ad35;
  outline: none;
  cursor: pointer;
  border-style: none;
  z-index: 101;
}

#btnScrollToTop:active {
  background: #54ad35;
}

#button {
  color: #ffffff;
  background-color: #54ad35;
  padding: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  border-radius: 60px;
  border-style: none;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 36%;
  margin-bottom: 5%;
}


#first-ul {
  list-style: none;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 40%;
  margin-bottom: 2%;
}
